body {
    background-image: url("/media/marble_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}

.container {
    background: #5d4d41;
    background: linear-gradient(233deg, rgba(13, 6, 1, 1) 0%, rgba(28, 25, 24, 1) 50%, rgba(107, 96, 92, 1) 100%);;
    max-width: 550px;
    margin: 20px auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 10px 10px 15px #7b7e81;
    font-family: "Rubik", sans-serif;
    color: white;
    border-radius: 6px;
}

h1 {
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    margin: 0 auto;
    font-size: 50px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
     }
        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #060606, 0 0 40px #060606, 0 0 50px #060606, 0 0 60px #060606, 0 0 70px #060606;
            }
    
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #17050e, 0 0 40px #17050e, 0 0 50px #17050e, 0 0 60px #17050e, 0 0 70px #17050e, 0 0 80px #17050e;
            }
        }

h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.select-city {
    font-family: "Rubik", sans-serif;
    font-size: 13px;
}

.city {
    background: rgba(233, 232, 232, 0.083);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: all 500ms ease-in-out;
}

.city:hover {
    background-color: rgba(233, 232, 232, 0.773);
    color: #060606;
    transform: scale(1.1);
}

.date {
    opacity: 0.8;
    font-size: 15px;
}

.time {
    font-family: "Orbitron", sans-serif;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}

select {
    font-family: "Rubik", sans-serif;
    display: block;
    width: 80%;
    margin: 25px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
}

.all-cities {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
}

a{
    color: rgb(84, 84, 236);
}

footer {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    font-family: "Rubik", sans-serif;
    color: white;
    background: #1a1616;
    max-width: 580px;
    border-radius: 6px;   
}